
  .product_image {
    max-height: 50px;
  }


.container{
  margin-top: 30px;
}
.delivery-option{
padding: 10px;

}

.delivery-option ul{
  padding: 0;
}
.delivery-option ul li{
  list-style-type: none;
}

.delivery-option ul li span{
  float:right;
}