<div class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-in">
                    <h4>
                        <i class="fa fa-car" aria-hidden="true"></i>
                        Ship cod toàn quốc
                    </h4>
                    <p>Đặt hàng và thu tiền tận nơi toàn quốc.</p>
                </div>
                <div class="col-md-4 footer-in">
                    <h4>
                        <i class="fa fa-car" aria-hidden="true"></i> Hoàn trả
                    </h4>
                    <p>Sẵn sàng đổi hoặc hoàn tiền khi sản phẩm không đạt chất
                        lượng</p>
                </div>
                <div class="col-md-4 footer-in">
                    <h4>
                        <i class="fa fa-car" aria-hidden="true"></i> Giao hàng miễn phí
                    </h4>
                    <p>Giao hàng miễn phí với hóa đơn trên 500k.</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!---->
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="footer-middle-in">
                        <h6>Giới thiệu</h6>
                        <p>Chúng tôi mang đến cho không gian của bạn những chậu cây
                            mini sáng tạo, độc đáo. Giúp mọi người hòa hợp với thiên nhiên
                            hơn. Và cũng là một món quà ý nghĩa trao tặng những người thân
                            yêu.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-middle-in">
                        <h6>Hỗ trợ khách hàng</h6>
                        <ul>
                            <li><a href="#">Hướng dẫn mua hàng</a></li>
                            <li><a href="#">Hướng dẫn thanh toán</a></li>
                            <li><a href="#">Quy định giao hàng</a></li>
                            <li><a href="#">Câu hỏi thường gặp</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-middle-in">
                        <h6>Liên hệ</h6>
                        <ul>
                            <li><a href="contact.jsp">08 68 60 50 20 - 0938 74 1357</a></li>
                            <li><a href="#">contact@gamba.com</a></li>
                            <li><a href="#">Đại học Nông Lâm HCMC</a></li>
                        </ul>
                    </div>
                </div>
               <div class="col-md-3">
                <div class="footer-middle-in">
                    <h6>Kết nối với chúng tôi</h6>
                    <ul>
                        <li><a href="account.jsp">Facebook</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="wishlist.jsp">Pinterest</a></li>
                        <li><a href="#">Twitter</a></li>
                    </ul>
                </div>
               </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <p class="footer-class">
        Copyright © 2015 Modern Template by <a href="" target="_blank">Tha Thu</a>
    </p>
    <a href="#" style="display: block;" class="toTop ion-paper-airplane"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</div>