<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <div class="card-body p-4">
            <form action=""  (ngSubmit)="register()"  [formGroup]="registerForm">
              <h1>Register</h1>
              <p class="text-muted">Create your account</p>
              <p *ngIf="thongbao" style="color: red;" class="text-muted">{{ thongbao}}</p>
              
              <div class="input-group mb-3">
                  <span class="input-group-addon">
                    <i class="icon-user"></i>
                  </span>
                  <input type="text" class="form-control" placeholder="firstName" formControlName="firstName">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-addon">
                      <i class="icon-user"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="lastName" formControlName="lastName">
                  </div>
              <div class="input-group mb-3">
                <span class="input-group-addon">
                  <i class="icon-user"></i>
                </span>
                <input type="text" class="form-control" placeholder="Username" formControlName="username">
              </div>
 
              <div class="input-group mb-3">
                <span class="input-group-addon">
                  <i class="icon-lock"></i>
                </span>
                <input type="password" class="form-control" placeholder="Re-password"  formControlName="password">
              </div>

              <div class="input-group mb-4">
                <span class="input-group-addon">
                  <i class="icon-lock"></i>
                </span>
                <input type="password" class="form-control" placeholder="Repeat password" formControlName="re_password">
              </div>

              <button type="submit" class="btn btn-block btn-success" [disabled]="registerForm.invalid"> Create Account
                  <img *ngIf="loading" src="https://avanaatforbescreek.com/views/site/images/icons/loading.gif" height="32px"
                  >
              </button>
            </form>
          </div>
          <div class="card-footer p-4">
            <div class="row">
              <div class="col-6">
                <button class="btn btn-block btn-facebook" type="button">
                  <span>facebook</span>
                </button>
              </div>
              <div class="col-6">
                <button class="btn btn-block btn-twitter" type="button">
                  <span>twitter</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>