html{
    /* background-color: white !important; */
}

.detail-product img{
    border:solid 1px #ddd;
    /* background-color: white; */
}
.carousel{
    margin-top: 10px;
}
.container{
    margin-top: 30px;
}

.info-detail .title h1 {
    font-size: 2.25rem;
    font-weight: bold;

    margin: 0;

    color: #25363a;
}

.info-detail .rating {
    display: inline-block;

    margin-top: 0;

    border: none;
}

.info-detail .rating > input {
    display: none;
}

.info-detail .rating > label {
    font-weight: normal;

    float: right;

    color: #ffd700;
}

.info-detail .rating > label:before {
    font-family: FontAwesome;
    font-size: 15px;

    display: inline-block;

    margin: 3px;

    content: '\f006';
}

.info-detail .rating > .half:before {
    position: absolute;

    content: '\f006';
}

.info-detail .rating > input:checked ~ label {
    color: #ffd700;
}

.info-detail .rating > input:checked + label:hover,
.info-detail .rating > input:checked ~ label:hover,
.info-detail .rating > label:hover ~ input:checked ~ label,
.info-detail .rating > input:checked ~ label:hover ~ label {
    color: #ffed85;
}

.info-detail .rating > input:checked ~ label.full:before,
.info-detail .rating:not(:checked) > label.full:hover:before,
.info-detail .rating:not(:checked) > label:hover ~ label.full:before {
    content: '\f005';
}

.info-detail .rating > input:checked ~ label.half:before,
.info-detail .rating:not(:checked) > label.half:hover:before,
.info-detail .rating:not(:checked) > label:hover ~ label.half:before {
    content: '\f089';
}

.info-detail .prices-wrapper {
    line-height: 1;

    display: block;

    margin-top: 5px;
}

.info-detail .prices-wrapper .prices {
    position: relative;

    display: inline-block;
}

.info-detail .prices-wrapper .prices sup {
    font-size: 1.625rem;
    font-weight: 700;

    top: -8px;

    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
    text-transform: capitalize;

    color: #86bc42;
}

.info-detail .prices-wrapper .prices .number {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1;

    display: inline-block;

    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
    text-transform: capitalize;

    color: #86bc42;
}

.info-detail .prices-wrapper .prices + .prices {
    margin-left: 5px;
}

.info-detail .prices-wrapper .prices + .prices:before {
    font-size: 20px;
    font-weight: bold;
    line-height: 1;

    display: inline-block;

    margin-right: 5px;

    content: '-';

    color: #25363a;
}

.info-detail .prices-wrapper .prices.prices-discount sup {
    font-size: 14px;

    color: #d9d9d9;
}

.info-detail .prices-wrapper .prices.prices-discount .number {
    font-size: 24px;

    color: #d9d9d9;
}

.info-detail .prices-wrapper .prices.prices-discount:before {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    height: 1px;

    content: '';
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    background-color: #d9d9d9;
}

.info-detail .prices-wrapper .unit {
    font-size: 1.125rem;
    line-height: 1;

    display: inline-block;

    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
    text-transform: uppercase;

    color: #9c9c9c;
}

.info-detail .discription {
    display: block;

    margin-top: 25px;
}

.info-detail .discription p {
    font-size: 1rem;

    color: #455255;
}

.info-detail .list-info {
    max-width: 440px;
    margin: 18px 0 0 0;
    padding: 0;
}

.info-detail .list-info > li {
    font-size: 16px;
    font-weight: 600;

    position: relative;

    display: inline-block;

    width: 50%;
    margin-top: 7px;
    padding-left: 16px;

    list-style: none;

    vertical-align: top;

    color: #25363a;
}

.info-detail .list-info > li:before {
    font-family: 'FontAwesome';
    font-size: 6px;

    position: absolute;
    left: 0;

    content: '\f111';

    color: #c7c9c9;
}

.info-detail .list-info > li:nth-child(-n + 2) {
    margin-top: 0;
}

.info-detail .list-info > li span {
    font-weight: 500;

    padding-left: 5px;

    color: #455255;
}

.info-detail .list-info > li span a {
    padding-right: 4px;

    color: #455255;
}

.info-detail .list-info > li span a:after {
    content: ',';
}

.info-detail .list-info > li span a:last-child:after {
    content: none;
}

.info-detail .list-info > li span a:hover {
    color: #86bc42;
}

.info-detail  .list-social ul {
    display: inline-block;

    margin: 0;
    padding: 0;
}

.info-detail .list-social li {
    display: inline-block;

    padding-left: 20px;

    list-style: none;
}

.info-detail  .list-social .link {
    font-size: 13px;

    color: #b4babb;
}

.info-detail  .list-social .link:hover {
    color: #86bc42;
}

.info-detail .shopping-cart {
    margin-top: 15px;
}

.info-detail .shopping-cart .quantity {
    position: relative;

    display: block;

    width: 80px;

    border-bottom: 1px solid #bababa;
}

.info-detail .shopping-cart .quantity input[type='number'] {
    font-size: 14px;
    font-weight: bold;

    position: relative;

    box-sizing: border-box;
    width: 100%;
    max-width: 80px;
    height: 25px;

    text-align: center;

    color: #25363a;
    border: 0;
    border-radius: 0 !important;
    background-color: #ffffff;

    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
}

.info-detail .shopping-cart .quantity input[type=number]::-webkit-inner-spin-button,
.info-detail .shopping-cart .quantity input[type=number]::-webkit-outer-spin-button {
    margin: 0;

    -webkit-appearance: none;
    /* Removes leftover margin */
}

.info-detail .shopping-cart .quantity .quantity-button {
    position: absolute;
    z-index: 1;
    top: 0;
}

.info-detail .shopping-cart .quantity .quantity-button .fa {
    font-size: 14px;

    opacity: .6;
}

.info-detail .shopping-cart .quantity .quantity-button.quantity-up {
    right: 0;
}

.info-detail .shopping-cart .quantity .quantity-button.quantity-down {
    left: 0;
}

.info-detail .btn-addtocart {
    display: inline-block;

    margin-top: 40px;
    margin-right: 10px;
}

.info-detail .btn-addtocwishlish {
    display: inline-block;
}

.info-detail .btn-addtocwishlish button.btn-maincolor {
    color: #25363a;
    border: 1px solid #25363a;
    background-color: transparent;
}

.info-detail .btn-addtocwishlish button.btn-maincolor:hover {
    color: #86bc42;
    border: 1px solid #86bc42;
}

.btn {
    font-size: 1rem;
    line-height: 38px;
    width: 200px;
    height: 40px;
    padding: 0 20px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    text-transform: uppercase;
    color: #d9d9d9;
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}
.btn.btn-maincolor {
    color: #ffffff;
    border-color: #86bc42;
    background-color: #86bc42;
}


/* NAV */
/* Tabss */

.nav-tabs .nav-item {
    /* margin: 0 auto; */
    background-color: none !important;
}

.tabs-customer {
    padding: 0 20px;
    /* width: 30%; */
    margin-top: 20px;
}

.nav-tabs .nav-link.active:focus,
.nav-tabs .navbar .active.dropdown-toggle:focus,
.navbar .nav-tabs .active.dropdown-toggle:focus {
    /* color: #29363d; */
    background: none !important;
    border-color: none !important;
    border-bottom-color: none !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .navbar .active.dropdown-toggle,
.navbar .nav-tabs .active.dropdown-toggle {
    border-bottom:solid 2px #86BC42;
    background: none !important;
    border-top: none;
    border-left: none !important;
    border-right: none !important;
    color: #86BC42;
}

.nav-tabs .nav-link:hover {
    border-bottom-color: #fff;
    background: none !important;
    border-top: none;
    border-left: none !important;
    border-right: none !important;
}

.nav-tabs .nav-link.active {
    
}

.nav-tabs .nav-link {
    font-size: 24px;
    font-family: 'Cuprum';
    color: #29363d;
}

.nav-tabs {
    border: none;
}

.tab-content {
    margin-top: -1px;
    background: none;
    border: none;
}