<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Begreen</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item dropdown d-md-down-none" dropdown="" placement="bottom right">
            <a aria-haspopup="true" class="nav-link" data-toggle="dropdown" dropdowntoggle="" href="#" role="button" aria-expanded="false">
              <i class="icon-basket-loaded"></i>
              <span class="badge badge-pill badge-warning">15</span>
            </a>
            <!---->
            <div aria-labelledby="simple-dropdown" class="dropdown-menu dropdown-menu-right dropdown-menu-lg" style="left: auto; right: 0px; top: 100%; transform: translateY(0px);">
              <div class="dropdown-header text-center">
                <strong>You have 5 pending tasks</strong>
              </div>
              <a class="dropdown-item" href="#">
                <i class="icon-user-follow text-success"></i> New user registered
              </a>
              <a class="dropdown-item" href="#">
                <i class="icon-user-unfollow text-danger"></i> User deleted
              </a>
              <a class="dropdown-item" href="#">
                <i class="icon-chart text-info"></i> Sales report is ready
              </a>
              <a class="dropdown-item" href="#">
                <i class="icon-basket-loaded text-primary"></i> New client
              </a>
              <a class="dropdown-item text-center" href="#">
                <strong>View all tasks</strong>
              </a>
            </div>
          </li>

        </ul>
      </form>
    </div>
  </div>
</nav>