.product-list {
    list-style-type: none;
    margin: 0;
  }
  
  .product-container {
      padding: 2rem 3rem 0 0;
      position: relative;
      border: 1px solid #EFEFEF;
      margin: 10px 0;
  
    &:hover {
      box-shadow: 0 0 5px rgba(50,50,50,0.3);
    }
  
    .product_image {
      max-height: 250px;
    }
  
    .product_price {
      float: right;
      margin-top: 1rem;
    }
  }
  




  ///////
  /* Product */

.main-titles h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3.750rem;
  line-height: 1.5;
  position: relative;
  z-index: 10;
  margin: 30px 0 50px 0;
  text-transform: capitalize;
  color: #25363a;
  text-align: center;
}

.product {
  margin-top: 100px;
}

.color-green {
  color: #86BC42;
}

.color-black {
  color: #25363a;
}

.color-white {
  color: white;
}

.card-body {
  background-color: #86BC42;
}

.card {
  font-family: 'Cuprum';
}

.card-body ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  padding-top: 10px;
}



.card-body ul li i {
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  padding: 8px;
  border-radius: 50%;
  border: solid 1px rgba(255, 255, 255, 0.3);
}

.card-body ul li a {
  text-decoration: none;
}


/* Tabss */

.nav-tabs .nav-item {
  margin: 0 auto;
  background-color: none !important;
}

.tabs-customer {
  width: 30%;
  margin: 0 auto;
}

.nav-tabs .nav-link.active:focus,
.nav-tabs .navbar .active.dropdown-toggle:focus,
.navbar .nav-tabs .active.dropdown-toggle:focus {
  /* color: #29363d; */
  background: none !important;
  border-color: none !important;
  border-bottom-color: none !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .navbar .active.dropdown-toggle,
.navbar .nav-tabs .active.dropdown-toggle {
  border-bottom:solid 2px #86BC42;
  background: none !important;
  border-top: none;
  border-left: none !important;
  border-right: none !important;
  color: #86BC42;
}

.nav-tabs .nav-link:hover {
  border-bottom-color: #fff;
  background: none !important;
  border-top: none;
  border-left: none !important;
  border-right: none !important;
}

.nav-tabs .nav-link.active {
  
}

.nav-tabs .nav-link {
  font-size: 24px;
  font-family: 'Cuprum';
  color: #29363d;
}

.nav-tabs {
  border: none;
}

.tab-content {
  margin-top: -1px;
  background: none;
  border: none;
}

.card-body ul li{
  margin: 0 auto;
  padding: 0 5px;
   color: rgba(255, 255, 255, .3);
   display: inline-block;
} 

.card-body ul li a i{
 
  color: rgba(255, 255, 255, .3);

  &:hover{
    color: white;
    cursor: pointer;
    border: solid 1px white;
  }
}