.navbar-brand{
    font-family: 'Pacifico', cursive;
    color:#86BC42;
    font-size: 3em;
}

.navbar-nav .nav-item .nav-link{
    font-size: 18px;
}
.badge-warning {
    position: absolute !important;
    color: #111;
    background-color: #ffc107;
    top: 12% !important;
    left: 50% !important;

    font-size: 10px;
}

.icon-basket-loaded{
    font-size: 30px;
}